* {
    font-size: 16px;
}

body {
    background: #f0f0f0;
}

.p-button-label {
    font-weight: 500;
}

.sidebar .p-sidebar-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
}

.sidebar .p-sidebar-content {
    padding: 0;
}

.sidebar .p-menuitem-link {
    padding: 1rem;
}

.sidebar .p-menuitem .active {
    color: #3B82F6 !important;
    font-weight: 700;
    border-right: solid #3B82F6;
}

.p-toast {
    z-index: 9999;
}

.p-datatable-header {
    padding: 0;
    padding-bottom: 15px;
}